# Ignore dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/

# Ignore build output
build/
dist/
out/
build-output/

# Ignore environment variables file
.env

# Ignore editor files
.vscode/
.idea/

# Ignore log files
*.log

# Ignore user-specific files
.DS_Store
Thumbs.db

# Ignore npm lock files
package-lock.json
yarn.lock

# Ignore any files in the root directory except the package.json file
/*
!/package.json

