.App {
  text-align: center;
}

#download-frame {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px gray;
}

/* Add a scrollbar to the #pages element */
#pages {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Set a fixed height for the Sidebar element to prevent content from shifting */
#sidebar {
  height: calc(100vh - 110px); /* Subtract header height from viewport height */
  overflow-y: auto;
}

/* Style the logo */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


/* Style container */
.outer-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding: 0 50px;
}

/* Style buttons */
button {
  font-size: 16px;
  color: #ffffff; /* Change the font color to a light color */
  background-color: #3c444b; /* Change the background color to slate gray */
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  text-shadow: 0px 1px 1px #000000;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5d636b; /* Change the background color on hover */
}

/* Style button container */
#button-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 15px;
}

#button-wrap button {
  margin: 15px;
}

/* Style video row */
.video-row {
  display: flex;
  flex-wrap: wrap;
}

/* Style video container */
.video-container {
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
}

/* Style history heading */
.history-heading {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

/* Style history toolbar */
.history-toolbar {
  display: inline-block;
  margin-left: auto;
}

.clear-history-button {
  position: absolute; 
  right: 15px;
  padding-right: 20px;
}

select {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 5'%3E%3Cpath d='M1 1l4 3 4-3'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 8px center;
}


.horizontal-slider {
  width: 100%;
  height: 25px;
}

.horizontal-slider .thumb {
  width: 20px;
  height: 20px;
  background-color: #3f51b5;
  border-radius: 50%;
  outline: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  top: 2px;
}

.horizontal-slider .track {
  top: 12px;
  background-color: #bdbdbd;
  height: 2px;
}

.horizontal-slider .track.track-1 {
  background-color: #3f51b5;
}
