.App {
  text-align: center;
}

#download-frame {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px gray;
}

/* Add a scrollbar to the #pages element */
#pages {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* Set a fixed height for the App-header element to prevent content from shifting */
.App-header {
  background-color: #282c34;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Set a fixed height for the Sidebar element to prevent content from shifting */
#sidebar {
  height: calc(100vh - 110px); /* Subtract header height from viewport height */
  overflow-y: auto;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    max-width: 200px;
    max-height: 200px;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.outer-container {

  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding: 0 50px;

}

button {
  font-size: 16px;
  color: #ffffff; /* Change the font color to a light color */
  background-color: #3c444b; /* Change the background color to slate gray */
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  text-shadow: 0px 1px 1px #000000;
}

#button-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 15px;
}

#button-wrap button {
  margin: 15px;
}
